<persistence-unit name="GaleriaArteJPAPU">
    <provider>org.hibernate.jpa.HibernatePersistenceProvider</provider>

    <properties>
        <property name="hibernate.dialect"
                  value="org.hibernate.dialect.MySQL8Dialect"/>

        <property name="hibernate.hbm2ddl.auto"
                  value="update"/>
    </properties>
</persistence-unit>
